.about-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
  margin-top: 160px;
  .about-img {
    img {
      width: 100%;
    }
  }
}

.about-main {
  width: 100%;
  padding: 0 45px 100px 45px;
}

.about-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
  align-self: stretch;
}

.about-description {
  text-align: justify;
  font-size: 0.9rem;
  color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-cv {
  display: flex;
  align-items: flex-end;
  gap: 11px;
  .about-cv-link {
    font-size: 0.9rem;
  }
}

.about-socials {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 15px;
  .about-socials-wrap {
    position: relative;
  }
  .about-socials-icon {
    position: absolute;
    top: -3;
    right: -20;
  }
  .about-socials-icon-bento {
    right: -30;
    top: 10;
  }
}

@media (min-width: 768px) {
  .about-img {
    min-width: 30%;
    max-width: 40%;
  }
  .about-main {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .about-container {
    padding: 0 100px 0 300px;
  }
  .about-description {
    font-size: 1.3rem;
    gap: 30px;
    max-width: 600px;
  }
  .about-description-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
  }
  .about-socials {
    flex-direction: column;
    height: 150px;
    font-size: 1.1rem;
  }
  .about-cv .about-cv-link {
    font-size: 1.1rem;
  }
  .about-cv {
    gap: 29px;
    align-items: end;
    height: 100%;
  }
  .about-cv-arrow {
    transform: scale(2.5);
    padding-left: 5px;
    padding-bottom: 8px;
  }
  .about-cv-link {
    font-size: 1.1rem;
  }
}
