.easter-egg {
  position: fixed;
  right: 5%;
  bottom: 2.5%;
  transition: 0.3s ease-in-out;
}

.easter-egg:hover {
  cursor: pointer;
  transform: rotate(-20deg);
}

@media (max-width: 768px) {
  .easteregg-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .easteregg-mobile {
    display: none;
  }
}
