header.fr.header-mobile {
  width: 100%;
  padding: 60px 0px 18px 0px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--white);
  z-index: 1000;
  .header-icon-portfolio {
    display: flex;
    transform: scale(1.1);
  }
  .header-spacer {
    width: 62px;
    height: 2px;
  }
  .header-lang-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    color: var(--electrik-blue);
    font-style: italic;
    text-decoration: none;
    font-size: 0.9rem;
    .header-lang-fr {
      font-weight: 700;
    }
  }
  .header-burger-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .header-burger-menu {
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    border-radius: 6px;
    z-index: 1000;

    .header-burger {
      width: 42px;
    }
    .header-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 108px;
      list-style-type: none;
      text-align: center;
      font-style: italic;
      color: var(--electrik-blue);

      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transform-origin: top;
      transform: scaleY(0);

      transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.4s ease;
    }

    .header-menu.is-active {
      max-height: 300px;
      opacity: 1;
      padding: 2%;
      transform: scaleY(1);
      padding: 20px 10px 20px 10px;
      background: var(--white);
    }
  }
}

header.fr.header-desktop {
  .header-desktop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 40px 15px;
    background: var(--white);
    z-index: 1000;
    text-align: center;
  }

  .header-lang-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    color: var(--electrik-blue);
    font-style: italic;
    text-decoration: none;
    font-size: 1.1rem;
    .header-lang-fr {
      font-weight: 700;
    }
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 108px;
    list-style-type: none;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  header.fr.header-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  header.fr.header-desktop {
    display: none;
  }
}
