.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  .home-guy-text-indicator {
    display: flex;
    align-items: end;
  }
  .home-arrow-wrapper {
    width: 10%;
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
  }
  .home-text-container {
    width: 100%;
    z-index: 30;

    .home-text-box {
      padding-top: 20px;
      height: 40px;
      text-align: center;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 20px;
      cursor: default;
    }
  }
}

@media (min-width: 768px) {
  .home-text-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .home-text-desktop {
    display: none;
  }

  .home-text-container {
    position: absolute;
    opacity: 0;
  }
  .home-guy-text-indicator {
    justify-content: center;
    gap: 20px;
  }
}
