.kitty-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .kitty-text {
    padding: 50px 90px 0 90px;
    text-align: center;
    z-index: 2000;
  }
}

.kitty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.kitty-img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .kitty-desktop {
    display: none;
  }
}
