.project-main {
  height: 100%;
  width: 100vw;
  padding: 187px 45px 80px 45px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  .project-new-mobile-icon {
    position: absolute;
    right: -25;
    bottom: 3265;
  }
  .project-preview-wrapper {
    display: flex;
    flex-direction: column;
  }
  .project-preview {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid var(--electrik-blue, #002bff);
    position: relative;
    padding: 15px 0 15px 10px;
    transition: 0.1s ease-out;
    video.swipeimage,
    img.swipeimage {
      height: auto;
      width: 20%;
      filter: grayscale(1);
    }
    img.mobileimg,
    video.mobileimg {
      width: 100%;
      filter: grayscale(1);
    }
    .project-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      transition: 0.5s;
    }
    .project-preview-bg {
      z-index: -1;
      background-color: var(--electrik-blue);
      width: 40%;
      height: 100%;
      position: absolute;

      top: 0px;
      left: 0px;
      opacity: 0;
      transition:
        width 0.5s ease-in-out,
        opacity 0.6s;
    }
  }
  .project-preview-wrapper {
    position: relative;
  }
}

@media (min-width: 768px) {
  .project-main {
    padding: 200px 250px 0 300px;
  }
  .mobileimg {
    display: none;
  }
  .project-new {
    right: -30;
    bottom: -50;
  }
  img.swipeimage,
  video.swipeimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    object-fit: cover;
    pointer-events: none;
  }
  .project-preview {
    display: inline-block;
  }
  .project-preview-wrapper {
    min-width: 520px;
  }
  .project-title-mobile,
  .project-new-mobile-icon {
    display: none;
  }
  .project-infos {
    width: 520px;
  }
  .project-preview:hover {
    cursor: pointer;
    .project-preview-bg {
      width: 100%;
      opacity: 1;
    }
    .project-infos {
      color: var(--white, #fff);
    }
  }
  .project-new-desktop-icon {
    position: absolute;
    right: -130;
    top: -35;
  }
}

@media (max-width: 768px) {
  .project-title-desktop,
  .project-new-desktop-icon {
    display: none;
  }
  .swipeimage {
    display: none;
  }

  .project-preview-wrapper {
    gap: 40px;
  }
}
