.project-main {
  height: 100vh;
  width: 100vw;
  padding: 187px 45px 60px 45px;
  display: flex;
  flex-direction: column;
  gap: 57px;
  .project-preview {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid var(--electrik-blue, #002bff);
    position: relative;
    video {
      height: 100%;
      width: 100%;
      filter: grayscale(1);
    }
    .project-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
    }
    .project-new {
      position: absolute;
      right: -25;
      bottom: -30;
    }
  }
}
