* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

:root {
  --electrik-blue: #002bff;
  --dark-blue: #091147;
  --white: #fff;
}

body {
  color: var(--dark-blue);
  font-size: 1.125rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
}

a {
  text-decoration: none;
}

// A REPLACER A QLQ PART

.text-link {
  font-style: italic;
  font-size: 09rem;
  text-decoration-line: underline;
  color: var(--electrik-blue);
  text-decoration-thickness: 6.5%;
  text-underline-offset: 9%;
}

@media (min-width: 768px) {
  .text-link {
    font-size: 1.3rem;
  }
}

// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.055);
//   border: 1px solid rgba(86, 61, 124, 0.071);
// }
